.header {
    height: 200%;
    width: 50%;
}
.header .header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main #profile-photo{
    width: 15%; 
    height: 15%; 
    object-fit: contain; 
    margin: auto 500px;
    float: left;
}

.main #name{ 
    float: left;
    padding-top: 4em;
    
}